/* Misc */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$vue-color: #46bd87;
$danger-color: #ea4d46;

$primaryColor1: hsl(300, 43%, 22%);
$primaryColor2: hsl(333, 80%, 67%);

$neutralColor1: hsl(303, 10%, 53%);
$neutralColor2: hsl(300, 24%, 96%);
$neutralColor3: hsl(0, 0%, 100%);

$textFont: 'Spartan', sans-serif;;


/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
